<nav class="navbar sticky-top navbar-dark bg-dark">
	<a class="navbar-brand" href="<%= domainName+'/profile' %>">
		<img src="/resources/scrabble-tile.jpg" width="30" height="30" class="d-inline-block align-top" alt="S" style="margin-right: 0;">crabMan
	</a>

	<ul class="navbar-nav ml-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="#" id="logout">Logout</a>
	    </li>
    </ul>
</nav>