<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
	<ul class="navbar-nav mx-auto center">
		<li class="nav-item" style="width: 33vw; text-align: center;">
			<a class="nav-link" href="#">Link 1</a>
		</li>
		<li class="nav-item" style="width: 33vw; text-align: center;">
			<a class="nav-link" href="#">Link 2</a>
		</li>
		<li class="nav-item" style="width: 33vw; text-align: center;">
			<a class="nav-link" href="#">Link 3</a>
		</li>
	</ul>
</nav>