<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript">
	function getCookie(cname) {
	    var name = cname + "=";
	    var decodedCookie = decodeURIComponent(document.cookie);
	    var ca = decodedCookie.split(';');
	    for(var i = 0; i <ca.length; i++) {
	        var c = ca[i];
	        while (c.charAt(0) == ' ') {
	            c = c.substring(1);
	        }
	        if (c.indexOf(name) == 0) {
	            return c.substring(name.length, c.length);
	        }
	    }
	    return "";
	}

	function formatDate(date) {
		var monthNames = [
		"January", "February", "March",
		"April", "May", "June", "July",
		"August", "September", "October",
		"November", "December"
		];

		var day = date.getDate();
		var monthIndex = date.getMonth();
		var year = date.getFullYear();

		return day + ' ' + monthNames[monthIndex] + ' ' + year;
	}

	function requestFail(data) {
		if (data && data.logout) 
	    	window.location.replace("<%= domainName %>/login");
	    else {
	    	if(data)
	    		alert(data.message);
	    	else 
	    		alert("Sever Error Occured.")
	    }
	}

	function getRequest (url,successCallback) {
		//console.log(getCookie('token'));
		showLoading();
		$.ajax({
			url: url,
			type: "GET",
			headers: {
				'x-access-token': getCookie('token')
			},
			success: function(data) {
				hideLoading();
				console.log(data);
				if (data.error) requestFail(data);
				else successCallback(data);
			},
			error: function(xhr){
				hideLoading();
				console.log("An error occured: " + xhr.status + " " + xhr.statusText);
				requestFail(undefined);
			}
		});
	}



	function postRequest (url,params,successCallback) {
		//console.log(getCookie('token'));
		showLoading();
		$.ajax({
			url: url,
			type: "POST",
			headers: {
				'x-access-token': getCookie('token')
			},
			data: params,
			success: function(data) {
				console.log(data);
				hideLoading();
				if (data.error) requestFail(data);
				else successCallback(data);
			},
			error: function(xhr){
				hideLoading();
				console.log("An error occured: " + xhr.status + " " + xhr.statusText);
				requestFail(undefined);
			}
		});
	}

	$("#logout").click(function () {

		document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
		window.location.href = "<%= domainName %>/login";

	});


	function showLoading() {
		$("#loading-screen").show();
	}

	function hideLoading() {
		$("#loading-screen").hide();
	}

	$( function () {
		$("#loading-screen").hide();
	});


	function sleep(milliseconds) {
		var start = new Date().getTime();
		for (var i = 0; i < 1e7; i++) {
			if ((new Date().getTime() - start) > milliseconds){
				break;
			}
		}
	}
		
</script>
<style type="text/css">
	#loading-screen {
		position: fixed;
		height: 100vh;
		width: 100vw;
		background-color: rgba(255,255,255,0.7);

		text-align: center;
		vertical-align: middle;
		line-height: 90vh; 
	}
</style>
<div id="loading-screen">
	<i class="fa fa-cog fa-spin" style="font-size:24px"></i> <b>Loading...</b> 
</div>