<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header-empty %>
</header>

<main>
	<style type="text/css">
		#login-form {
			width: 340px;
	    	margin: 50px auto;
		}
	    #login-form form {
	    	margin-bottom: 15px;
	        background: #f7f7f7;
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	        padding: 30px;
	    }
	    #login-form h2 {
	        margin: 0 0 15px;
	    }

	    .form-control, .btn {
	        min-height: 38px;
	        border-radius: 2px;
	    }
	    .btn {        
	        font-size: 15px;
	        font-weight: bold;
	    }

	    #request-account-form {
			width: 340px;
	    	margin: 50px auto;
		}
	    #request-account-form form {
	    	margin-bottom: 15px;
	        background: #f7f7f7;
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	        padding: 30px;
	    }
	    #request-account-form h2 {
	        margin: 0 0 15px;
	    }

	    #account-creation-form {
			width: 340px;
	    	margin: 50px auto;
		}
	    #account-creation-form form {
	    	margin-bottom: 15px;
	        background: #f7f7f7;
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	        padding: 30px;
	    }
	    #account-creation-form h2 {
	        margin: 0 0 15px;
	    }

	</style>
    <div id="login-form">
	    <form>
	        <h2 class="text-center">Log in</h2>       
	        <div class="form-group">
	            <input type="text" class="form-control" placeholder="Username" required="required" id="username">
	        </div>
	        <div class="form-group">
	            <input type="password" class="form-control" placeholder="Password" required="required" id="password">
	        </div>
	        <div class="form-group">
	            <button type="button" class="btn btn-primary btn-block" id="login-button">Log in</button>
	        </div>
	        <div class="clearfix">
	            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
	        </div>  
	        <br>
	        <div class="text-center"><a href="#" class="pull-right">Forgot Password?</a></div>      
	    </form>
	    
	    <p class="text-center"><button type="button" class="btn btn-secondary btn-block" id="open-request-account-form">Request for an Account</button></p>
	    <p class="text-center"><button type="button" class="btn btn-secondary btn-block" id="open-account-creation-form">I have an OTP</button></p>
	</div>

	<div id="request-account-form">
		<form>
	        <h2 class="text-center">Account Request</h2>       
	        <div class="form-group">
	            <input type="email" class="form-control" placeholder="E-mail ID" required="required" id="requested-email">
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" placeholder="Username" required="required" id="requested-username">
	        </div>
	        <div class="form-group">
	            <textarea class="form-control" style="width: 100%;" id="requested-message" placeholder="Message to Admin (Optional)
[Max: 128 Chars]"></textarea>
	        </div>
	        <div class="form-group">
	            <button type="button" class="btn btn-primary btn-block" id="request-button">Request</button>
	        </div>   
	    </form>
	    
	    <p class="text-center"><button type="button" class="btn btn-secondary btn-block open-login-form">Already have an account?</button></p>
	</div>

	<div id="account-creation-form">
		<form>
	        <h2 class="text-center">Account Creation</h2>       
	        <div class="form-group">
	            <input type="email" class="form-control" placeholder="E-mail ID" required="required" id="to-create-email">
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" placeholder="Username" required="required" id="to-create-username">
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" placeholder="OTP" required="required" id="to-create-OTP">
	        </div>
	        <div class="form-group">
	            <input type="password" class="form-control" placeholder="New Password" required="required" id="to-create-pass">
	        </div>
	        <div class="form-group">
	            <input type="password" class="form-control" placeholder="Re-enter New Password" required="required" id="to-create-pass-repeat">
	        </div>
	        <div class="form-group">
	            <button type="button" class="btn btn-primary btn-block" id="create-button">Create</button>
	        </div>   
	    </form>
	    
	    <p class="text-center"><button type="button" class="btn btn-secondary btn-block open-login-form">Back</button></p>
	</div>
</main>

<footer>
	<p style="position: absolute; right: 0.5vw; bottom: 0; font-size: 75%;">Developed by <a href="https://www.linkedin.com/in/sidsprasad">Siddharth Prasad</a></p>
    <% include ../partials/bottom-bar-empty %>
</footer>

	<% include ../scripts/global-scripts %>

	<script type="text/javascript">
		$("#login-button").click(function(){
			username = $("#username").val();
			password = $("#password").val();
			params = {
				username: username,
				pass: password
			};
			if (!username || !password) {
				alert("Enter username and password.");
			} else {
				$.post("<%= domainName %>/api/auth", params, function(data, status) {
					//alert("Data: " + data + "\nStatus: " + status);
					if (status=='success' && !data.error) {
						token = data.token;
						adminLevel = data.adminLevel;
						var d = new Date();
	    				d.setTime(d.getTime() + (24*60*60*1000));
						var expires = "expires="+ d.toUTCString()

						document.cookie = "username=" + username + ";" + expires + ";path=/";
						document.cookie = "token=" + token + ";" + expires + ";path=/";
						document.cookie = "adminLevel=" + adminLevel + ";" + expires + ";path=/";
						
						window.location.href = "<%= domainName %>/tournaments?status=upcoming";

					} else if(data && data.error) {
						alert(data.message);
					} else {
						alert("Login Error");
					}
				}).fail(function(response) {
				    alert('Error: ' + response.responseText);
				});
			}
		});

		$("#request-button").click(function(){
			username = $("#requested-username").val();
			email = $("#requested-email").val();
			message = $("#requested-message").val();
			params = {
				email: email,
				username: username,
				message: message
			};
			if (!username || !email) {
				alert("Enter username and password.");
			} else {
				$.post("<%= domainName %>/api/auth/requestAccount", params, function(data, status) {
					//alert("Data: " + data + "\nStatus: " + status);
					if (status=='success' && !data.error) {

						alert("Successfully Requested. Admin will be in touch.")						
						$("#request-account-form").hide();			
						$("#login-form").show();

						$("#requested-username").val("");
						$("#requested-email").val("");
						$("#requested-message").val("");

					} else if(data && data.error) {
						alert(data.message);
					} else {
						alert("Request Account Error");
					}
				}).fail(function(response) {
				    alert('Error: ' + response.responseText);
				});
			}
		});

		$("#create-button").click(function () {
			username = $("#to-create-username").val();
			email = $("#to-create-email").val();
			OTP = $("#to-create-OTP").val();

			newPass = $("#to-create-pass").val();
			newPassRepeat = $("#to-create-pass-repeat").val();

			params = {
				username: username,
				email: email,
				newPass: newPass,
				OTP: OTP
			}
			if (!username || !email || !OTP || !newPass || !newPassRepeat) {
				alert ("All fields required!");
			} else if (newPass !== newPassRepeat) {
				alert("Passwords do not match!");
			} else {
				$.post("<%= domainName %>/api/auth/createAccount", params, function(data, status) {
					//alert("Data: " + data + "\nStatus: " + status);
					if (status=='success' && !data.error) {

						alert("Successfully Created Account!")						
						$("#to-create-username").val("");
						$("#to-create-email").val("");
						$("#to-create-OTP").val("");

						$("#to-create-pass").val("");
						$("#to-create-pass-repeat").val("");

						location.reload();
					} else if(data && data.error) {
						alert(data.message);
					} else {
						alert("Error!");
					}
				}).fail(function(response) {
				    alert('Error: ' + response.responseText);
				});
			}


		});

		$(".open-login-form").click(function () {
			$("#account-creation-form").hide();	
			$("#request-account-form").hide();			
			$("#login-form").show();
		});

		$("#open-request-account-form").click(function () {
			$("#account-creation-form").hide();	
			$("#login-form").hide();
			$("#request-account-form").show();			
		});

		$("#open-account-creation-form").click(function () {
			$("#login-form").hide();
			$("#request-account-form").hide();			
			$("#account-creation-form").show();	
		});

		$(function() {
			$("#request-account-form").hide();
			$("#account-creation-form").hide();	
			$("#login-form").show();
        });
	</script>
</body>
</html>