<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1 id="username"></h1>
        <p>Welcome!</p>
    </div>
</main>

<footer>
    <% activeButton = "profile" %>
    <% include ../partials/bottom-bar %>
</footer>

    <% include ../scripts/global-scripts %>

    <script type="text/javascript">
        $(function() {
            $('#username').html( getCookie('username') );
        });
    </script>
</body>
</html>